div {
    border-style: solid;
    border-width: 1px;
    margin: auto;
    padding: 20px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: row;
    padding: 0;
}